/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:center;
	text-align:center;
}
img{
	object-fit: cover;
	width:100px;
	height:100px;	
}
button{
	padding:10px;
	background-color:red;
	color:white;
	
}