/*  your css code here. If applicable */
.hero{
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
	align-items:center;
}
img{
	object-fit: cover;
	width:100%;
	height:auto;	
}
button{
	padding:10px 20px;
	background-color:red;
	color:white;
	cursor: pointer;
	border:none;
}